body {
    background-color: aqua;
    font-family: 'Poppins', sans-serif;
}

#fishTank {
    display: flex;
    flex-wrap: nowrap;
    margin: 1em;
    border: 5px dashed red;
}

aside {
    background-color: cadetblue;
}

.fishList {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
}

.fishList-card {
    background-color: chartreuse;
    margin: 1em;
    flex-basis: 25%;
    
}

.card-image {
}

.fish-image {
    width: 100%;
    height: auto;
}

.fishList-data {
    padding: .0 2em;
}